body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}

h1 {
    color: magenta;
}

p {
    color: gold;
}

img {
    border: 6px solid gold;
}